.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 2vh 2em;
  gap: 16px;
  width: 100vw;

  font-size: 1em;

  background: #ffffff;
}

.instagram {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;

  font-size: 1em;
}

.external {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;

  font-size: 1em;
}

.external_text {
  font-family: var(--font-sans);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  font-size: 1em;

  color: var(--dark-gray);
}
