$footer-font-size: 0.8rem;

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 2vh 2em;
  gap: 4px;
  width: 100vw;

  font-size: $footer-font-size;

  background: #ffffff;
}

.instagram {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;

  font-size: $footer-font-size;
}

.external {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;

  font-size: $footer-font-size;
}

.external_text {
  font-family: var(--font-sans);
  font-style: normal;
  line-height: 20px;

  font-size: $footer-font-size;
  font-weight: 300;

  color: var(--dark-gray);
}

.copyright {
  font-family: var(--font-sans);
  font-style: normal;
  font-weight: 300;
  font-size: $footer-font-size;
  color: var(--dark-gray);
}
