// Define here UI variables to use all across the app styles
$black: #000000;
$darker-gray: #2c2626;
$base-gray: #4d4f51;
$light-gray: #727272;

:export {
  black: $black;
  darker-gray: $darker-gray;
  base-gray: $base-gray;
  light-gray: $light-gray;
}
